header {
  display: flex;
  background-color: chartreuse;
  height: 100px;
}
header h1{
  margin: 20px;
  margin-right: auto;
}
header input{
  margin: 30px;
  height: 30px;
  padding: auto;
  justify-content: center;
}

.body{
  display: flex;
}
.items {
  min-width: 500px;
  background-color: coral;
}

.temp{
  background-color: cornflowerblue;
  font-size: 40px;
  max-height: 200px;
}

.text{
  position: absolute;
  top: 100px;
  left: 500px;
}
.name{
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  z-index: 12;
}

.map{
  position: absolute;
  top: 100px;
  left: 500px;
  z-index: 0;
}